.common-root {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Microsoft Sans Serif", sans-serif;
    background: #55aaaa;
    padding: 92px 18px 30px; /* header height + distance to the content */
}

.common-header {
    background-color: #c2c6ca;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 20px;
    z-index: 2000;
    box-shadow: 0 0.5px 0.5px #000000, inset 1px 1px #C2C6CA, inset -1px -1px #85898d;
}

.common-header-brand-title, .common-header-brand-description {
    color: #333333;
    max-width: 820px;
    margin: 0 auto;
}

.common-header-brand-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.common-header-brand-description {
    font-size: 0;
    margin-top: 6px;
}

.common-header-brand-description-text {
    font-size: 16px;
    display: inline-block;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 2px;
}

.common-paper {
    background-color: #c2c6ca;
    max-width: 820px;
    margin: 0 auto;
    padding: 30px 20px;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}

.common-post-list {

}

.common-post-list-item:nth-child(n + 2) {
    margin-top: 12px;
}

.common-pagination {
    margin-top: 12px;
}