body {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

h1, h2, h3, strong {
    font-weight: 700;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    border-left: 4px solid #FF7F50;
    padding-left: 12px;
}

h2 {
    font-size: 20px;
    line-height: 28px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
}

.post-common-content, .post-common-content *:nth-child(n + 2) {
    margin-top: 12px;
}

img {
    max-width: 100%;
}

pre {
    background-color: #F9F8FD;
    padding: 10px;
    overflow: auto;
}

.japanese-font {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
}

span.japanese-font {
    display: inline-block;
}

.post-common-content ul, .post-common-content ol {
    padding-left: 24px;
}

.post-common-content ul {
    list-style: initial;
}

.post-common-content ol {
    list-style: revert;
}

.post-common-content blockquote {
    font-style: italic;
    line-height: 32px;
    background-color: #F9F8FD;
    border-left: 2px solid #3eb0ef;
    margin-left: 8px;
    padding-left: 14px;
}

.post-common-content em {
    font-style: italic;
}