{{!< default }}
<main class="post-common-paper">
{{#post}}
    <article>
        <h1 class="post-common-title">{{title}}</h1>
        <section class="post-common-content">
            {{content}}
        </section>
    </article>
{{/post}}
</main>