<header class="common-header">
    <h1 class="common-header-brand-title">{{ @blog.title }}</h1>
    <div class="common-header-brand-description">
        <span class="common-header-brand-description-text">{{ @blog.description }}</span>
    </div>
</header>