<footer class="common-footer">
    <div class="common-footer-inner">
        {{!-- <div class="common-footer-aboutus">
            We are Japanese teachers with passion in teaching writing.<br>
            Our goal is to help Japanese learners gain confidence with our writing feedback.
        </div> --}}
        {{> navigation}}
        <div class="common-footer-credit">All Rights by Tensaku JP</div>
    </div>
</footer>