<header class="common-header">
    <div class="common-header-inner">
        <div class="common-header-brand">
            <div class="common-header-brand-title">{{ @blog.title }}</div>
            <div class="common-header-brand-description">
                <span class="common-header-brand-description-text">{{ @blog.description }}</span>
            </div>
        </div>
    </div>
</header>