<nav class="common-footer-menu">
    <ul 
    data-p_footer-menu="hidden"
    class="common-footer-menu-items common-footer-menu-items-hidden">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="common-footer-menu-item {{#if current}} nav-current{{/if}}">
            <a class="common-footer-menu-item-link" href="{{url absolute="true"}}">{{label}}</a>
        </li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
</nav>