<nav class="common-header-menu">
    <button
    data-e_click="header-menu-button"
    class="common-header-menu-button">MENU</button>
    <ul 
    data-p_header-menu="hidden"
    class="common-header-menu-items common-header-menu-items-hidden">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="common-header-menu-item {{#if current}} nav-current{{/if}}">
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
</nav>