{{!< default }}
<main class="common-paper">
    {{!-- For each one of the posts, display the title  --}}
    <ul class="common-post-list">
    {{#foreach posts}}
        <li class="common-post-list-item">
            <a href="{{url}}">{{title}}</a>
        </li>
    {{/foreach}}
    </ul>
    {{!-- pagination block  --}}
    {{pagination}}
</main>
