{{!< default }}
<main>
    {{!-- For each one of the posts, display the title  --}}
    <ul>
    {{#foreach posts}}
        <li>
            <a href="{{url}}">{{title}}</a>
        </li>
    {{/foreach}}
    </ul>
</main>

{{!-- pagination block  --}}
{{pagination}}